@import '@/assets/styles/tools/mixins';

.s-events {
  @include _1200 {
    margin: rem(48) auto;
  }

  padding: rem(48) 0;
  background-color: var(--color-bg);
  &__box {
    @include _768 {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24);
    }
    @include _1920 {
      grid-template-columns: repeat(3, 1fr);
    }

    display: grid;
    margin-top: rem(32);
    grid-template-columns: 1fr;
    gap: rem(16);
  }
}
