:root {
  --color-text: #0d1140;
  --color-black: #272727;
  --color-bg: #f7f9fd;
  --color-body: #f5f5f5;
  --color-white: #fff;
  --color-lightblue: #f0f4ff;
  --color-blue: #16b2d3;
  --a-color-red: #ff0040;
  --color-orange: #ff725f;
  --color-yellow: #fc0;
}
