@import '@/assets/styles/tools/mixins';
/* stylelint-disable no-descending-specificity */

.s-footer {
  padding: var(--a-padding-x8) 0;
  color: var(--color-bg);
  background-color: var(--color-black);

  &__container {
    @include _768 {
      padding: rem(15) rem(20);
    }

    width: 100%;
    padding: rem(5) rem(15);
  }

  &__logo {
    @include _768 {
      margin-bottom: rem(24);
    }
    @include _1200 {
      margin-bottom: 0;
    }

    margin-bottom: rem(20);
  }

  &__top {
    @include _768 {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    @include _1200 {
      border-bottom: 0;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__menu {
    @include _768 {
      order: 1;
      width: 100%;
    }
    @include _1200 {
      order: 0;
      width: auto;
      margin-top: rem(14);
    }

    margin-bottom: rem(24);
  }

  &__info {
    @include _1200 {
      margin-left: auto;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: rem(20);
  }

  &__contacts {
    @include _768 {
      display: none;
    }
    @include _1200 {
      display: block;
      margin-bottom: rem(20);
    }

    margin-bottom: rem(24);

    &-link {
      @include _1200 {
        display: inline;
        margin-bottom: 0;
        margin-left: rem(24);
        font-size: rem(16);
      }

      display: block;
      margin-bottom: rem(8);
      font-size: rem(14);
      font-weight: 500;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__socials {
    @include _1200 {
      align-items: center;
      align-self: flex-end;
    }

    display: flex;
    align-items: center;
    &-block {
      max-width: rem(250);
      margin: 0;
      flex-wrap: wrap;
    }
    &-mail {
      margin-top: rem(14);
      color: var(--color-bg);
    }

    &-title {
      @include _768 {
        display: block;
        margin-right: rem(12);
        font-size: rem(14);
      }
      @include _1200 {
        display: block;
      }

      display: none;
      font-weight: 500;
    }

    &-link {
      margin-right: rem(12);
      flex-shrink: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__copyright,
  &__policy {
    @include _1200 {
      display: inline;
    }

    display: block;
    margin-bottom: rem(16);
    font-size: rem(14);
    text-decoration: none;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__copyright {
    @include _1200 {
      margin-right: rem(42);
    }
  }

  &__policy {
    @include _1200 {
      margin-right: rem(18);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
/* stylelint-enable no-descending-specificity */
