@import '@/assets/styles/tools/mixins';

.s-header {
  @include _992 {
    padding: rem(15) 0;
  }

  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: rem(5) 0;
  background: var(--color-yellow);
  transition: 0.3s;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    &-image {
      @include _992 {
        max-width: rem(50);
      }

      max-width: rem(35);
    }
  }
  &__links {
    @include _768 {
      position: unset;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 0;
      border-radius: 0;
    }

    position: fixed;
    z-index: 10;
    top: 50px;
    right: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 0;
    padding: 0 rem(16);
    background: var(--color-yellow);
    border-radius: 0 0 15px 15px;
    transition: 0.3s;
    &.active {
      @include _768 {
        height: auto;
      }

      height: rem(200);
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(rem(10));
    flex-shrink: 0;
    &-burger {
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: transform 0.5s;
      -webkit-tap-highlight-color: transparent;
      .line {
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        fill: none;
        stroke: var(--color-second);
        stroke-width: 6.5;
        stroke-linecap: round;
      }
      .top {
        stroke-dasharray: 40 121;
      }
      .bottom {
        stroke-dasharray: 40 121;
      }
      &.active {
        transform: rotate(45deg);
        .top {
          stroke-dashoffset: -68px;
        }
        .bottom {
          stroke-dashoffset: -68px;
        }
      }
    }
  }
  &__actions {
    @include _768 {
      margin: 0;
      &.--compact {
        display: none;
      }
    }

    display: flex;
    align-items: center;
    margin-right: rem(-16);
    margin-left: auto;
  }
  &__phone {
    @include _768 {
      width: rem(140);
      font-weight: 500;
    }
    @include _992 {
      width: rem(155);
      font-size: rem(18);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    color: var(--color-second);
    &-image {
      max-width: rem(18);
    }
  }
  &__theme {
    @include _768 {
      margin: 0 rem(8);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &-icon {
      path,
      rect {
        fill: var(--color-second);
      }
    }
  }
  &__lang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    background: transparent;
    border: none;
    outline: none;
    &-icon {
      @include _768 {
        font-size: rem(18);
      }

      color: var(--color-second);
      font-weight: 500;
    }
  }
  &__btn {
    @include _768 {
      max-width: rem(125);
      min-height: rem(40);
      margin-top: 0;
      margin-left: rem(16);
      font-size: rem(18);
    }
    @include _992 {
      max-width: rem(175);
      min-height: rem(45);
    }

    margin-top: rem(16);
    color: var(--color-main);
    background: var(--color-second);
  }
  &__overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(6px);
  }
}
